@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: #9dbdba;
    --color-bg: #fff;
    --color-text: #171818;
    --color-accent: #ec6a52;
    --color-btn: var(--color-main);
    --color-btn-text: var(--color-bg);
    /* --color-accent: #9dbdba,#f3b7ad,#93aec1,#ec6a52,#f8b042; */
}
body.dark-mode {
    --color-main:hsl(174, 20%, 5%);
    --color-bg: hsl(177, 21%, 16%);
    --color-text: #eeeeee;
    --color-accent:#f8b042;
    --color-btn: var(--color-accent);
    --color-btn-text: var(--color-main);
}

body {
    background-color: var(--color-main);
    color:var(--color-text);
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
}
a {
    color: var(--color-accent);
    text-decoration: none;
    transition: 0.3s;
}
a:hover, a:focus {
    color: #9dbdba;
}

.image {
    background-image: url(img/img-medium.jpg);
    background-size: cover;
    width: 100%;
    min-height: 30vh;
    justify-self: flex-start;
    padding: 2rem;
}
.image p {
    display: inline-block;
    background-color: hsla(0, 0%, 0%, 0.8);
    padding: 8px;
    color: #eeeeee;
    line-height: 1.5;
}

main {
    max-width: 1200px;
    min-height: calc(100vh);
    width: 100%;
    background-color: var(--color-bg);
    box-shadow: 0px 30px 40px 20px hsla(0, 0%, 0%, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}
fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(50px * 8);
}
legend {
    font-family: "Poppins";
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.input-wrapper {
    position: relative;
    height: 37px;
}
.input-wrapper input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--color-accent);
    background:none;
    color: var(--color-text);
    font-size: 1.25rem;
}
input.active + label {
    top: -4px;
    font-size: 0.95rem;
    font-weight: 600;
}
.input-wrapper label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s;
}
.wrapper {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: var(--color-btn);
    border: 2px solid transparent;
    border-radius: 0.5rem;
    padding: 0.7rem;
    color: var(--color-btn-text);
    margin: 2em 0;
}
button:hover {
    background-color: white;
    color: #000;
    border: 2px solid #eee;
}
p + button {
    margin-left: 1rem;
}


@media (min-width: 500px) {
    main {
        padding: 2rem;
    }
    .image {
        border-radius: 1rem;
    }
    .wrapper {
        padding: 0.5rem;
    }
}
@media (min-width: 650px) {
    main {
        min-height: min(600px, calc(100vh - 4rem));
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
        border-radius: 2rem;
    }
    body {padding: 2rem;}
    .image {
        width: 50%;
    }
    .wrapper {
        width: 50%;
        margin: 0 auto;
    }
}
